body {
    margin: 2em;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 100%; 
    color: black;
    font-family: Consolas;
    font-size: 100%;
    line-height: 140%;
    color: #333; 
}
table {
margin-left: 2em;
}
pre, code {
    background-color: #eff0f1;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: Consolas;
    font-size: 100%;
    line-height: 155%;
		padding: 0.5em;
}
blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #EEE solid;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #7a5ada; 
}
h1, h2, h3, h4, h5 { font-family: Consolas;
                     font-weight: bold;
                     border-bottom: 1px solid #dddddd;
                     color: black; }
h1 {
        font-size: 130%;
				color: #3F5770;
}

h2 {
        font-size: 110%;
				color: #A04040;
}

h3 {
        font-size: 95%;
				color: #3F5770;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 200%;
        font-weight: bold;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

#footer {
        padding-top: 1em;
        font-size: 100%;
        color: gray;
        text-align: center;
        border-top: 1px solid gray;
        }
